body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: yellow;
    font-size:3vh;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    border: double yellow;
    padding: 2vh;
    background-color: darkslategrey;
    max-width: 100px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1vh 1vh 1vh 1vh;
    padding-bottom: 1vh;
    font-size: 1.7vh;
    max-block-size: 80px; 
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: darkred;
    box-shadow: 0.4vh 0.7vh #999;
}

    button:hover {
        background-color : maroon;
    }

    button:active {
        background-color: maroon;
        box-shadow: 0.2vh 0.5vh #666;
        transform: translateY(0.2vh);
    }

#networkCanvas {
    background: black;
}

#carCanvas {
    background: lightgray;
}
